runs/
sim_build/
*.vvp
results.xml
__pycache__/
*.pyc
.venv/
sim_verilator/obj_dir/
sim_verilator/*.v
sim_verilator/mmio.h
sim_verilator/systolic_mm_bare_driver.c
sim_verilator/systolic_mm_regs.h
sim_verilator/*.v
sim_verilator/obj_dir/
